#map{
    height: 685px;
    width: 100%;
    position: absolute;
    z-index: 0;
    margin: 0;
}
#nav-icon-map{
    background:none;
    border: none;
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 16pt;
    
}
#nav-icon-map:hover{
    background: gray;
}
#nav-icon-map:focus{
    outline: none;
}