#sideBar{
    
    background: black;
}

.sideBarButton{
    background:none;
    margin-top: 30%;
    border: none;
    width: 100%;
    height: 80px;
}

.sideBarText{
    text-align: center;
    color: white;
}
.sideBarButton:hover{
    background:lightgray;
}
